fastapi
uvicorn[standard]
websockets
loguru
sqlmodel
psutil
python-multipart
pydantic
httpx
rich
pywin32; sys_platform == "win32"
pywinpty; sys_platform == "win32"
wmi
pystray
pillow
maim_message
tomlkit
python-dotenv